<h1>
  Bestelling afrekenen
</h1>
<p>Om uw bestelling af te ronden willen we eerst nog een paar dingen van u weten.</p>
<h2>
  Adresgegevens
</h2>
<p>Vul hier uw adresgegevens in:</p>

<form #adresForm="ngForm">
  <ul>
    <li>
      <label for="name">Naam geadresseerde:</label>
      <input type="text" id="name" required maxlength="50" [(ngModel)]="name" name="name">
    </li>
    <li>
      <label for="price">Adres:</label>
      <input type="text" id="price" name="price" required [(ngModel)]="adres"/>
    </li>
    <li>
      <label for="image">Woonplaats:</label>
      <input type="text" id="image" required maxlength="255" [(ngModel)]="city" name="image">
    </li>
  </ul>
</form>

<h2>
  Controleer
</h2>
<p>Controleer uw adresgegevens:</p>
<p>Naam geadresseerde: {{name}}</p>
<p>Adres: {{adres}}</p>
<p>Woonplaats: {{city}}</p>

<button routerLink="/betaal" [disabled]="!adresForm.valid">Verder naar betalen</button>
