<div *ngFor="let product of products">
  <a [routerLink]="product.id">
    <img [src]="product.image" height="50px" [alt]="product.name"/> {{product.name}}
  </a>
  <button class="delete" *ngIf="auth.getRole() == 'ADMIN'" (click)="deleteProduct(product)">Verwijder</button>
  <hr/>
</div>
