<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <label for="username">Gebruikersnaam:</label>
  <input type="text" id="username" [(ngModel)]="user.username" name="username">
  <label for="password">Wachtwoord:</label>
  <input type="password" id="password" [(ngModel)]="user.password" name="password">
  <button id="submit" [disabled]="!loginForm.valid">Inloggen</button>
</form>
