<button routerLink="bewerk" *ngIf="auth.getRole() == 'ADMIN'">Bewerk dit product</button>
<h1>
  {{product?.name}}
</h1>
<img height="100px" [src]="product?.image" [alt]="product?.name">
<p *ngIf="!product?.custom">Nog {{product?.quantity}} beschikbaar!</p>
<span>Prijs: &euro; {{product?.price}}</span> |
<app-product-to-basket [product]="product"></app-product-to-basket>
<hr/>
<p>{{product?.description}}</p>
