<h1>
  Betalen
</h1>
<p>
  Het totale bredrag dat betaald dient te worden is: &euro; {{total}}
</p>
<p>
  Door op de knop hieronder te klikken word u doorgestuurd naar het betaalplatform op Bunq, hier kunt u gemakkelijk met
  iDeal betalen.
</p>
<button (click)="pay()">Betaal veilig met Bunq</button>

