<div class="banner">
  <img src="http://hendrikvanhalewijn.nl/wp-content/uploads/2013/10/logo.png" alt="logo"/>
  <h1>
    Hendrik van Halewijn Webshop
  </h1>
</div>
<app-navigation></app-navigation>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
