div.wrapper {
  width: 600px;
  background: white;
  border-radius: 5px;
  padding: 15px;
  margin: auto;
  margin-top: 15px;
  box-shadow: 0 2px 5px #333;
}

div.banner {
  width: 600px;
  margin: auto;
  margin-top: 5px;
}

div.banner h1 {
  display: inline-block;
  vertical-align: top;
}
