<h1 *ngIf="product.name; else new_product">{{product.name}}</h1>
<ng-template #new_product><h1>Nieuw product</h1></ng-template>

<form #productForm="ngForm" (ngSubmit)="submitProduct()">
  <ul>
    <li>
      <label for="name">Naam:</label>
      <input type="text" id="name" required maxlength="50" [(ngModel)]="product.name" name="name">
    </li>
    <li>
      <label for="price">Prijs:</label>
      <input type="number" id="price" name="price" required [(ngModel)]="product.price"/>
    </li>
    <li>
      <label for="description">Omschrijving:</label>
      <input type="text" id="description" required maxlength="255" [(ngModel)]="product.description" name="description">
    </li>
    <li>
      <label for="image">Afbeelding URL:</label>
      <input type="text" id="image" required maxlength="255" [(ngModel)]="product.image" name="image">
    </li>
    <li>
      <label for="quantity">Kwantiteit:</label>
      <input type="number" id="quantity" required [(ngModel)]="product.quantity" name="quantity">
    </li>
    <li>
      <label for="custom">Personaliseerbaar:</label>
      <input type="checkbox" id="custom" name="custom" [(ngModel)]="product.custom">
    </li>
    <li>
      <button [disabled]="!productForm.valid">Opslaan</button>
      <button (click)="onCancel()">Annuleer</button>
    </li>
  </ul>
</form>
