div {
  width: 600px;
  margin: auto;
  background: darkred;
  padding: 0 15px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #333;
}

div a {
  display: inline-block;
  padding: 15px 10px;
  background: darkred;
  color: white;
  text-decoration: none;
}

div a:hover {
  background: #5b0000;
}
