<div>
  <a routerLink="/home">Home</a>
  <a routerLink="/product">Producten</a>
  <a routerLink="/winkelmand">Winkelmand</a>
  <a *ngIf="auth.isAuthenticated(); else login" class="logout" (click)="logout()">Uitloggen</a>
  <ng-template #login><a routerLink="/login">Inloggen</a></ng-template>
</div>
