<h1>
  Winkelmand
</h1>
<p>Hier ziet u alle producten in uw winkelmand</p>
<div *ngFor="let product of products; let i = index" [attr.data-index]="i">
  <a routerLink="/product/{{product.id}}"><img [src]="product.image" height="50px"
                                               [alt]="product.name"/> {{product.name}}</a>
  <button class="delete" (click)="deleteProduct(i)">Verwijder</button>
  <hr/>
</div>
<div *ngIf="products.length; else emptyBasket">
  <p>Totaal: &euro; {{total}}</p>
  <button class="order" routerLink="/bestel">Afrekenen</button>
</div>
<ng-template #emptyBasket><span>U heeft nog geen producten in uw winkelmand, ga naar <a
  routerLink="/product">producten</a> om uw winkelmand te vullen.</span></ng-template>
